<!DOCTYPE html>
<html>
    <head>
        <title>WebCampBackendNew</title>
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="3nwYt9LgsSNA29G3dUFsxu6VDseAXweyOnsanNyENx7KMJF+2EcsJUzX5ltWsSFNfOX5nmn9vFSrQyZhkww3Jw==">
        <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    </head>
    
    <body>
        <h1>ようこそ <strong>Bookers</strong> へ！</h1>
        <p><strong>Bookers</strong>
         では、さまざまな書籍に関するあなたの意見や</p>
        <p>印象を共有し交換することができます</p>
        
        <p>
            <a href="/books">start</a>
        </p>
    </body>
</html>